.action {
    position: relative;
    background-image: url(./assets/Call-to-Action.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 421px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $linear-gradient-color;
        opacity: 0.8;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .title {
            font-size: 32px;
            font-weight: 600;
            color: $white;
            margin-bottom: 1rem;
        }
        .contact__btn {
            display: block;
            min-width: 164px;
            min-height: 56px;
            padding: 30px;
            outline: none;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: 0.5s all;
            position: relative;
            background: white;
            left: 50%;
            transform: translateX(-50%);
            .block-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .text-btn {
                    background: $linear-gradient-color;
                    background-clip: text;
                    color: transparent;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            &:hover {
                background: linear-gradient(to left, #3dd61e, #00ffb3);
                .text-btn {
                    background: $white;
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }
}
