.FAQ {
    .FAQ-block {
        margin: 0 3.6rem;
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .banner {
            width: 50%;
            order: 2;
            img {
                width: 100%;
            }
        }
        .content {
            order: 1;
            width: 40%;
            .title {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            .desc {
                font-weight: 400;
                font-size: 14px;
                color: $sub-title-skill-bars;
                max-width: 480px;
                margin-bottom: 20px;
            }
            .FAQ-list {
                .item {
                    max-width: 480px;
                    background: $linear-gradient-color;
                    margin-bottom: 12px;
                    padding: 1rem;
                    border-radius: 15px;
                    .question {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: $white;
                    }
                    .answer {
                        display: none;
                    }
                }
            }
        }
    }
}

.show {
    display: block !important;
}
