.testimonials {
    margin: 3.6rem 6rem;
    .headline {
        text-align: center;
        margin-bottom: 1rem;
        .title {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 6px;
        }
        .desc {
            font-weight: 400;
            font-size: 14px;
            color: $sub-title;
        }
    }
    .qoute-list {
        display: flex;
        // justify-content: space-between;
        .item {
            text-align: center;
            padding: 2.5rem;
            margin: 20px;
            border-radius: 15px;
            box-shadow: 0px 10px 20px 0px #cecbcb;
            position: relative;
            background-clip: padding-box;
            border: 2px solid $linear-gradient-color;
            background: $white;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                margin: -2px;
                border-radius: inherit;
                background-image: $linear-gradient-color;
            }
            .quote {
                color: $sub-title-item;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
            .person {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                .avatar {
                    margin-right: 12px;
                }
                .info {
                    .name {
                        font-size: 14px;
                        font-weight: 600;
                        color: $bgr-footer;
                    }
                    .profession {
                        font-size: 10px;
                        font-weight: 300;
                        color: $avatar-desc;
                    }
                }
            }
        }
        .slick-dots li.slick-active button:before {
            font-size: 16px;
            color: #ff1f00;
        }
    }
}
