$white: #ffff;
$black: #0000;
$bgr-skill-bars: #FFE0CB;
$linear-gradient-color: linear-gradient(to right, #FF6800, #FF1F00);
$sub-title: #999999;
$sub-title-item: #808080;
$avatar-desc: #666666;
$sub-title-skill-bars: #CCCCCC;
$bgr-footer: #333333;