@import "variables";
@import "hero";
@import "_feature";
@import "video-player";
@import "testimonial";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.linear-gradient {
    background-image: $linear-gradient-color;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
