.hero {
  background-image: url(./assets/Group-25.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 1.8rem 6rem;
  height: 935px;
}
.hero .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .header .nav {
  cursor: pointer;
}
.hero .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8.2rem 0;
}
.hero .banner .slogan {
  width: 40%;
}
.hero .banner .slogan__title {
  font-size: 48px;
  color: white;
  margin-bottom: 1.5rem;
}
.hero .banner .slogan__btn {
  display: block;
  min-width: 164px;
  min-height: 56px;
  padding: 30px;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s all;
  position: relative;
  background: white;
}
.hero .banner .slogan__btn .block-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .banner .slogan__btn .block-btn .text-btn {
  background: linear-gradient(to right, #FF6800, #FF1F00);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 14px;
}
.hero .banner .slogan__btn:hover {
  background: linear-gradient(to left, #3dd61e, #00ffb3);
}
.hero .banner .slogan__btn:hover .text-btn {
  background: white;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.hero .banner .mask-group {
  width: 50%;
}
.hero .banner .mask-group img {
  width: 100%;
}

.feature {
  margin: 3.6rem 6rem;
}
.feature .headline {
  text-align: center;
  margin-bottom: 2rem;
}
.feature .headline .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
}
.feature .headline .desc {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}
.feature .item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.feature .item-list .item {
  text-align: center;
  padding: 2.5rem;
  background: #fafafa;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px #cecbcb;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}
.feature .item-list .item .icon {
  margin-bottom: 24px;
}
.feature .item-list .item .item-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.feature .item-list .item .desc {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
.feature .item-list .item:hover {
  transform: scale(1.1);
}

.video-player {
  position: relative;
  background-image: url(./assets/fake-video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 633px;
}
.video-player::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #FF6800, #FF1F00);
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.video-player .btn-play {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}
.video-player .btn-play i {
  background: linear-gradient(to right, #FF6800, #FF1F00);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 16px;
  padding: 13px 16px;
}

.testimonials {
  margin: 3.6rem 6rem;
}
.testimonials .headline {
  text-align: center;
  margin-bottom: 1rem;
}
.testimonials .headline .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
}
.testimonials .headline .desc {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}
.testimonials .qoute-list {
  display: flex;
}
.testimonials .qoute-list .item {
  text-align: center;
  padding: 2.5rem;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px #cecbcb;
  position: relative;
  background-clip: padding-box;
  border: 2px solid linear-gradient(to right, #FF6800, #FF1F00);
  background: white;
}
.testimonials .qoute-list .item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(to right, #FF6800, #FF1F00);
}
.testimonials .qoute-list .item .quote {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.testimonials .qoute-list .item .person {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.testimonials .qoute-list .item .person .avatar {
  margin-right: 12px;
}
.testimonials .qoute-list .item .person .info .name {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.testimonials .qoute-list .item .person .info .profession {
  font-size: 10px;
  font-weight: 300;
  color: #666666;
}
.testimonials .qoute-list .slick-dots li.slick-active button:before {
  font-size: 16px;
  color: #ff1f00;
}

.skill-bars {
  background-image: url(./assets/Bgr-Skill-Bars.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.skill-bars .skill-bars-block {
  margin: 0 3.6rem;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-bars .skill-bars-block .banner {
  width: 50%;
}
.skill-bars .skill-bars-block .banner img {
  width: 100%;
}
.skill-bars .skill-bars-block .content {
  width: 40%;
}
.skill-bars .skill-bars-block .content .title {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.skill-bars .skill-bars-block .content .desc {
  font-weight: 400;
  font-size: 14px;
  color: #CCCCCC;
  max-width: 480px;
  margin-bottom: 2rem;
}
.skill-bars .skill-bars-block .content .bar-list .item {
  margin: 1rem auto;
  max-width: 380px;
}
.skill-bars .skill-bars-block .content .bar-list .item .completion-progress {
  font-size: 14px;
  font-weight: 400;
  color: #CCCCCC;
  margin-bottom: 0.5rem;
}
.skill-bars .skill-bars-block .content .bar-list .item .chart {
  position: relative;
  height: 8px;
  border-radius: 10px;
  background: white;
  -webkit-animation: skill 5s infinite;
          animation: skill 5s infinite;
}
.skill-bars .skill-bars-block .content .bar-list .item .chart .chart1,
.skill-bars .skill-bars-block .content .bar-list .item .chart .chart2,
.skill-bars .skill-bars-block .content .bar-list .item .chart .chart3 {
  position: absolute;
  height: 100%;
  background: linear-gradient(to right, #FF6800, #FF1F00);
  border-radius: 10px;
  left: 0;
}
.skill-bars .skill-bars-block .content .bar-list .item .chart .chart1 {
  width: 75%;
  -webkit-animation: chart1 5s ease-in-out;
          animation: chart1 5s ease-in-out;
}
.skill-bars .skill-bars-block .content .bar-list .item .chart .chart2 {
  width: 90%;
  -webkit-animation: chart2 5s ease-in-out;
          animation: chart2 5s ease-in-out;
}
.skill-bars .skill-bars-block .content .bar-list .item .chart .chart3 {
  width: 50%;
  -webkit-animation: chart3 5s ease-in-out;
          animation: chart3 5s ease-in-out;
}
@-webkit-keyframes chart1 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes chart1 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@-webkit-keyframes chart2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes chart2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes chart3 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes chart3 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.FAQ .FAQ-block {
  margin: 0 3.6rem;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FAQ .FAQ-block .banner {
  width: 50%;
  order: 2;
}
.FAQ .FAQ-block .banner img {
  width: 100%;
}
.FAQ .FAQ-block .content {
  order: 1;
  width: 40%;
}
.FAQ .FAQ-block .content .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}
.FAQ .FAQ-block .content .desc {
  font-weight: 400;
  font-size: 14px;
  color: #CCCCCC;
  max-width: 480px;
  margin-bottom: 20px;
}
.FAQ .FAQ-block .content .FAQ-list .item {
  max-width: 480px;
  background: linear-gradient(to right, #FF6800, #FF1F00);
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.FAQ .FAQ-block .content .FAQ-list .item .question {
  position: relative;
  color: white;
}
.FAQ .FAQ-block .content .FAQ-list .item .question::after {
  position: absolute;
  content: "+";
  color: white;
  right: 0;
  font-size: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.FAQ .FAQ-block .content .FAQ-list .item .answer {
  display: none;
}
.FAQ .FAQ-block .content .FAQ-list .show {
  margin: 2px 2px 20px 2px;
  border-radius: 15px;
  position: relative;
  background-clip: padding-box;
  border: 2px solid linear-gradient(to right, #FF6800, #FF1F00);
  background: white;
}
.FAQ .FAQ-block .content .FAQ-list .show::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(to right, #FF6800, #FF1F00);
}
.FAQ .FAQ-block .content .FAQ-list .show .question {
  color: #333333;
  margin-bottom: 20px;
}
.FAQ .FAQ-block .content .FAQ-list .show .question::after {
  position: absolute;
  content: "-";
  color: black;
  right: 0;
  font-size: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.FAQ .FAQ-block .content .FAQ-list .show .answer {
  color: #808080;
}

.action {
  position: relative;
  background-image: url(./assets/Call-to-Action.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 421px;
}
.action::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #FF6800, #FF1F00);
  opacity: 0.8;
}
.action .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.action .content .title {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}
.action .content .contact__btn {
  display: block;
  min-width: 164px;
  min-height: 56px;
  padding: 30px;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s all;
  position: relative;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}
.action .content .contact__btn .block-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.action .content .contact__btn .block-btn .text-btn {
  background: linear-gradient(to right, #FF6800, #FF1F00);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 14px;
}
.action .content .contact__btn:hover {
  background: linear-gradient(to left, #3dd61e, #00ffb3);
}
.action .content .contact__btn:hover .text-btn {
  background: white;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.footer {
  background: #333333;
}
.footer .copy-right {
  padding: 2.5rem 0;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.linear-gradient {
  background-image: linear-gradient(to right, #FF6800, #FF1F00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero {
    padding: 1.5rem;
    height: none;
  }
  .hero .banner {
    flex-direction: column;
    justify-content: center;
  }
  .hero .banner .slogan {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
  .hero .banner .slogan__btn {
    margin: 0 auto;
  }
  .hero .banner .mask-group {
    width: 100%;
  }
  .feature {
    margin: 3.6rem 2rem;
  }
  .feature .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature .item-list .item {
    padding: 2rem;
    margin-bottom: 2rem;
    width: 60%;
  }
  .video-player {
    height: 360px;
  }
  .testimonials .qoute-list .item {
    padding: 2.5rem;
    margin: 20px;
  }
  .skill-bars .skill-bars-block {
    flex-direction: column;
  }
  .skill-bars .skill-bars-block .banner {
    order: 2;
    width: 100%;
  }
  .skill-bars .skill-bars-block .content {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .skill-bars .skill-bars-block .content .bar-list .completion-progress {
    text-align: start;
  }
  .FAQ .FAQ-block {
    flex-direction: column;
  }
  .FAQ .FAQ-block .banner {
    order: 2;
    width: 100%;
  }
  .FAQ .FAQ-block .content {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .action .content {
    width: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 768px) {
  .hero {
    padding: 1.5rem;
    height: none;
  }
  .hero .banner {
    flex-direction: column;
    justify-content: center;
  }
  .hero .banner .slogan {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
  .hero .banner .slogan__btn {
    margin: 0 auto;
  }
  .hero .banner .mask-group {
    width: 100%;
  }
  .feature {
    margin: 3.6rem 2rem;
  }
  .feature .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature .item-list .item {
    padding: 2rem;
    margin-bottom: 2rem;
    width: 70%;
  }
  .video-player {
    height: 360px;
  }
  .testimonials .qoute-list .item {
    padding: 2.5rem;
    margin: 20px;
  }
  .skill-bars .skill-bars-block {
    flex-direction: column;
  }
  .skill-bars .skill-bars-block .banner {
    order: 2;
    width: 100%;
  }
  .skill-bars .skill-bars-block .content {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .skill-bars .skill-bars-block .content .desc {
    margin: 0 auto 2rem auto;
  }
  .skill-bars .skill-bars-block .content .bar-list .completion-progress {
    text-align: start;
  }
  .FAQ .FAQ-block {
    flex-direction: column;
  }
  .FAQ .FAQ-block .banner {
    order: 2;
    width: 100%;
  }
  .FAQ .FAQ-block .content {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .FAQ .FAQ-block .content .desc {
    margin: 0 auto 20px auto;
  }
  .FAQ .FAQ-block .content .FAQ-list .item {
    margin: 0 auto 12px auto;
  }
  .action .content {
    width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 991px) {
  .hero {
    padding: 1.5rem;
    height: none;
  }
  .hero .banner .slogan {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
  .hero .banner .slogan__btn {
    margin: 0 auto;
  }
  .hero .banner .mask-group {
    width: 100%;
  }
  .feature {
    margin: 3.6rem 2rem;
  }
  .feature .item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature .item-list .item {
    padding: 2rem;
    margin-bottom: 2rem;
    width: 70%;
  }
  .video-player {
    height: 360px;
  }
  .testimonials .qoute-list .item {
    padding: 2.5rem;
    margin: 20px;
  }
  .skill-bars .skill-bars-block {
    flex-direction: column;
  }
  .skill-bars .skill-bars-block .banner {
    order: 2;
    width: 100%;
  }
  .skill-bars .skill-bars-block .content {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .skill-bars .skill-bars-block .content .desc {
    margin: 0 auto 2rem auto;
  }
  .skill-bars .skill-bars-block .content .bar-list .completion-progress {
    text-align: start;
  }
  .FAQ .FAQ-block {
    flex-direction: column;
  }
  .FAQ .FAQ-block .banner {
    order: 2;
    width: 100%;
  }
  .FAQ .FAQ-block .content {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .FAQ .FAQ-block .content .desc {
    margin: 0 auto 20px auto;
  }
  .FAQ .FAQ-block .content .FAQ-list .item {
    margin: 0 auto 12px auto;
  }
  .action .content {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */