.hero {
  background-image: url(./assets/Group-25.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.8rem 6rem;
  height: 935px;
}
.hero .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .header .nav {
  cursor: pointer;
}
.hero .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8.2rem 0;
}
.hero .banner .slogan {
  width: 40%;
}
.hero .banner .slogan__title {
  font-size: 48px;
  color: white;
  margin-bottom: 1.5rem;
}
.hero .banner .slogan__btn {
  display: block;
  min-width: 164px;
  min-height: 56px;
  padding: 30px;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s all;
  position: relative;
  background: white;
}
.hero .banner .slogan__btn .block-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .banner .slogan__btn .block-btn .text-btn {
  background: linear-gradient(to right, #FF6800, #FF1F00);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 14px;
}
.hero .banner .slogan__btn:hover {
  background: linear-gradient(to left, #3dd61e, #00ffb3);
}
.hero .banner .slogan__btn:hover .text-btn {
  background: white;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.feature {
  margin: 3.6rem 6rem;
}
.feature .headline {
  text-align: center;
  margin-bottom: 2rem;
}
.feature .headline .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
}
.feature .headline .desc {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}
.feature .item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.feature .item-list .item {
  text-align: center;
  padding: 2.5rem;
  background: #fafafa;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px #cecbcb;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}
.feature .item-list .item .icon {
  margin-bottom: 24px;
}
.feature .item-list .item .item-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.feature .item-list .item .desc {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
.feature .item-list .item:hover {
  transform: scale(1.1);
}

.video-player {
  position: relative;
}
.video-player .fake-video {
  position: relative;
  z-index: 1;
}
.video-player .fake-video img {
  width: 100%;
  height: 100%;
}
.video-player .fake-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #FF6800, #FF1F00);
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.video-player .btn-play {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}
.video-player .btn-play i {
  background: linear-gradient(to right, #FF6800, #FF1F00);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 16px;
  padding: 13px 16px;
}

.testimonials {
  margin: 3.6rem 6rem;
}
.testimonials .headline {
  text-align: center;
  margin-bottom: 1rem;
}
.testimonials .headline .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
}
.testimonials .headline .desc {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}
.testimonials .qoute-list {
  display: flex;
}
.testimonials .qoute-list .item {
  text-align: center;
  padding: 2.5rem;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px #cecbcb;
  position: relative;
  background-clip: padding-box;
  border: 2px solid linear-gradient(to right, #FF6800, #FF1F00);
  background: white;
}
.testimonials .qoute-list .item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(to right, #FF6800, #FF1F00);
}
.testimonials .qoute-list .item .quote {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.testimonials .qoute-list .item .person {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.testimonials .qoute-list .item .person .avatar {
  margin-right: 12px;
}
.testimonials .qoute-list .item .person .info .name {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.testimonials .qoute-list .item .person .info .profession {
  font-size: 10px;
  font-weight: 300;
  color: #666666;
}
.testimonials .qoute-list .slick-dots li.slick-active button:before {
  font-size: 16px;
  color: #ff1f00;
}

.skill-bars {
  background-image: url(./assets/Bgr-Skill-Bars.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.skill-bars .skill-bars-block {
  margin: 0 3.6rem;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.skill-bars .skill-bars-block .content {
  margin: 3rem 0;
}
.skill-bars .skill-bars-block .content .title {
  font-size: 32px;
  font-weight: 600;
  color: white;
}
.skill-bars .skill-bars-block .content .desc {
  font-weight: 400;
  font-size: 14px;
  color: #CCCCCC;
}
.skill-bars .skill-bars-block .content .bar-list .item .completion-progress {
  font-size: 14px;
  font-weight: 400;
  color: #CCCCCC;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.linear-gradient {
  background-image: linear-gradient(to right, #FF6800, #FF1F00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}/*# sourceMappingURL=style.css.map */